.cart-table{
    width: 650px;
    align-content: center;
    text-align: left;
}
.promo_line{
  font-weight: bold;
}

.self_del_desc{
    font-style: italic;
    visibility: visible;
    background-color: white;
    margin-left: 20px;
}

.cur_del_desc{
    font-style: italic;
    display : none;
    background-color: white;
    margin-left: 20px;
}

.delivery_firel_descr{
    left: 100px;
}

.apply_promo{
    width: 430px;
}

.delivery_item{
     font-style: italic;
}

div.fieldset {
    border:  1px solid #afe14c;
    margin: 10px 0;
    padding: 20px 10px;
}
div.fieldset span.legend {
    position: relative;
    background-color: #FFF;
    padding: 3px;
    top: -30px;
    font: 700 14px Arial, Helvetica, sans-serif;
    color: #73b304;
}
.cart-link a{
    color: red;
    text-decoration: none;
    margin-top: 10px;
}

.cart-link{
    margin-top: 10px;
    margin-left: 5px;
    height: 30px;
}